footer__content {
  max-width: 880px;
  width: calc(100% - 38px);
  position: relative;
  margin: 0 auto;
  padding: 45px 0 41px 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.footer__description {
  color: rgba(84, 84, 84, 1);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 320px) {
  .footer__description {
    font-size: 14px;
    line-height: 16.94px;
  }
}
